body 
{
    margin: 2rem !important;
}

i 
{
    font-size: 2.5rem !important; 
}

.icon-button 
{
    border-radius: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    margin: 0 5px;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    background: white; 
}

.icon-button span 
{
    display: block;
    border-radius: 0;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all 0.3s; 
}

.icon-button:hover span 
{
    display: block;
    border-radius: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    margin: -1.8rem; 
}

.icon-button i 
{
    background: none;
    height: 3.6rem;
    width: 3.6rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    line-height: 3.6rem;
    transition: all 0.3s; 
}